.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box{
  width: 600px;
  height: 600px;
  border: 2px solid ;
  display: flex;
  flex-wrap: wrap;
}
.square {
  border: 1px solid;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  font-size: 80px ; 
  color: blue;
  font-weight: bold;
}

.cross {
  font-size: 80px ; 
  color:red;
  font-weight: bold;
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(39, 193, 39);
}

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleTurn {
  color: blue;
  padding: 0 5px;
  font-family: cursive;
  font-size: 20px;
}

.crossTurn {
  color: red;
  padding: 0 5px;
  font-family: cursive;
  font-size: 20px;
}